@use "variables.scss" as *;

:root {
  /* Dark */
  --text-primary: #{$text-primary};
  --text-primary-light: #{$text-primary-light};

  /* Mid */
  --text-secondary: #{$text-secondary};
  --text-disable: #{$text-disable};
  --text-placeholder: #{$text-placeholder};

  /* Light */
  --color-border: #{$color-border};
  --color-background-disable: #{$color-background-disable};
  --color-background: #{$color-background};
  --text-white: #{$text-white};

  /* Sky Blue */
  --color-secondary: #{$color-secondary};
  --color-blue-hover: #{$color-blue-hover};
  --color-blue-action: #{$color-blue-action};
  --color-blue-light: #{$color-blue-light};
  --color-blue-lighter: #{$color-blue-lighter};
  --color-blue-lightest: #{$color-blue-lightest};
  --color-blue-lightest-max: #{$color-blue-lightest-max};

  /* Ocean Wave */
  --color-turquoise-darker: #{$color-turquoise-darker};
  --color-turquoise-dark: #{$color-turquoise-dark};
  --color-turquoise: #{$color-turquoise};
  --color-turquoise-light: #{$color-turquoise-light};
  --color-turquoise-lighter: #{$color-turquoise-lighter};
  --color-turquoise-lightest: #{$color-turquoise-lightest};
  --color-turquoise-lightest-max: #{$color-turquoise-lightest-max};

  /* Yellow sub */
  --color-yellow-darker: #{$color-yellow-darker};
  --color-yellow-dark: #{$color-yellow-dark};
  --color-yellow: #{$color-yellow};
  --color-yellow-light: #{$color-yellow-light};
  --color-yellow-lighter: #{$color-yellow-lighter};
  --color-yellow-lightest: #{$color-yellow-lightest};
  --color-yellow-lightest-max: #{$color-yellow-lightest-max};

  /* Red Light */
  --color-red-darker: #{$color-red-darker};
  --color-red-dark: #{$color-red-dark};
  --color-red: #{$color-red};
  --color-red-light: #{$color-red-light};
  --color-red-lighter: #{$color-red-lighter};
  --color-red-lightest: #{$color-red-lightest};
  --color-red-lightest-max: #{$color-red-lightest-max};

  /* Corail tea */
  --color-corail-darker: #{$color-corail-darker};
  --color-corail-dark: #{$color-corail-dark};
  --color-corail: #{$color-corail};
  --color-corail-light: #{$color-corail-light};
  --color-corail-lighter: #{$color-corail-lighter};
  --color-corail-lightest: #{$color-corail-lightest};
  --color-corail-lightest-max: #{$color-corail-lightest-max};

  /* Purple Haze */
  --color-purple-darker: #{$color-purple-darker};
  --color-purple-dark: #{$color-purple-dark};
  --color-purple: #{$color-purple};
  --color-purple-light: #{$color-purple-light};
  --color-purple-lighter: #{$color-purple-lighter};
  --color-purple-lightest: #{$color-purple-lightest};
  --color-purple-lightest-max: #{$color-purple-lightest-max};
}

body, html {
  margin: 0;
  height: 100%;

  #app {
    height: 100%;
  }
}
