// Neutrals and Primary Colors

/* Dark */
$text-primary: #1F2F42;
$text-primary-light: #355070;

/* Mid */
$text-secondary: #5D738D;
$text-disable: #8696A9;
$text-placeholder: #CDD3DB;

/* Light */
$color-border: #E1E5EA;
$color-background-disable: #EBEFF5;
$color-background: #F5F6F7;
$text-white: #FFFFFF;

// Secondary color

/* Sky Blue */
$color-secondary: #466288;
$color-blue-hover: #5E82B6;
$color-blue-action: #75A3E3;
$color-blue-light: #91B5E9;
$color-blue-lighter: #ACC8EE;
$color-blue-lightest: #D5E4F6;
$color-blue-lightest-max: #ECF2F9;
$color-blue-hover-light: #F1F6FC;

// Functionnal Palette

/* Ocean Wave */
$color-turquoise-darker: #336A75;
$color-turquoise-dark: #3B7A87;
$color-turquoise:  #458E9D;
$color-turquoise-light: #6EB2BF;
$color-turquoise-lighter: #A1D7E2;
$color-turquoise-lightest: #CEECF2;
$color-turquoise-lightest-max: #EDF6F7;

/* Yellow sub */
$color-yellow-darker: #CC9200;
$color-yellow-dark: #EBA800;
$color-yellow: #FFBE1A;
$color-yellow-light: #FFD466;
$color-yellow-lighter: #FFE7AA;
$color-yellow-lightest: #FFEFC7;
$color-yellow-lightest-max: #FFF3DB;

/* Red Light */
$color-red-darker: #AB494C;
$color-red-dark: #D45458;
$color-red: #E67377;
$color-red-light: #EE878A;
$color-red-lighter: #EEA0A2;
$color-red-lightest: #F9C8CA;
$color-red-lightest-max: #F9ECEC;

// Extended Palette

/* Corail tea */
$color-corail-darker: #C76357;
$color-corail-dark: #E5786C;
$color-corail: #FF9184;
$color-corail-light: #FFADA3;
$color-corail-lighter: #FFC8C2;
$color-corail-lightest: #FFDAD6;
$color-corail-lightest-max: #FAECEB;

/* Purple Haze */
$color-purple-darker: #644578;
$color-purple-dark: #765A87;
$color-purple: #866C96;
$color-purple-light: #997EA9;
$color-purple-lighter: #AB92B9;
$color-purple-lightest: #C9B3D5;
$color-purple-lightest-max: #F4ECF9;




